@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}


<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Create Department</h1>

    <form class="col-8" method="post" asp-controller="Department" asp-action="Create"  >


        <partial name="PartialViews/CreateEditDepartmentPartial"/>

        <div class="mt-4 m-auto">
            <input class="btn btn-primary" type="submit" value="Create" />
        <a asp-action="Index" class="btn btn-outline-dark">Back To list</a>
        </div>

    </form>
</div>

@section ValidateSection {

    @*   here it not need model bind to it , it just render the code inside it *@
    <partial name="_ValidationScriptsPartial" />
}